
<div id="map-canvas"></div>
<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-xs-8 col-md-6">   
      <h2>Welcome .. </h2> 
      <p class="text-right">
      <button type="submit" class="btn btn-success">New Ride</button>
    </p> 
      <!-- item list -->
      <div class="panel panel-default">
        <div class="panel-heading"><a>Search for a ride</a></div>
      </div>
      <div id="control">
      <p>
         <input type='text' id="start" class="form-control">
         <button id="showMyLocation">Current address</button>
      </p> 
      <p>
         <input id="end"  class="form-control" name="end" size=100 placeholder="distenation"/>
      </p>
      <p>
          <input type='time' id="time"  class="form-control" name="time"  placeholder="Depature Time"/>
      </p>
      <p>
         <button id="search" class="btn btn-success">Search</button>
     </p>
     </div>
         <div id="directions-panel"></div>

      <hr>

      <div class="panel panel-default">
        <div class="panel-heading"><a href="">Availabe rides</a></div>
      </div>
      
      <hr>
      <!-- /item list -->      

    </div>
     <div class="col-xs-12 col-sm-6 col-md-8" id='map'></div>
    </div>
</div>



