<div class="well">
    <div class="row">
        <div class="col-md-6">
            <!-- item list -->
            <h1>Search for a ride</h1>
            <p>
                <div class="input-group">
                    <input type="text" data-ng-model="source" class="form-control" placeholder="Start address">
                    <span class="input-group-btn">
                    <button class="btn btn-default" data-ng-click="getCurrentDestination()">Current location</button>
                    </span>
                </div>
            </p>
            <p>
                <input type="text" data-ng-model="destination" class="form-control" placeholder="Destination address">
            </p>
            <p>
                <input type="text" data-ng-model="dateTime" class="form-control" placeholder="Datetime">
            </p>
            <p>
                <label for="radius">Search radius in miles: </label>
                <input data-ng-model="radius" id="radius" type="number">
            </p>
            <p>
                <button id="search" class="btn btn-success" data-ng-click="search()">Search</button>
            </p>
            <!-- move this to seperate view
            <p><a href="">Availabe rides</a></p>
            <div ng-repeat="ride in rides">
                <p>
                    {{ ride }}
                    <button ng-click="joinRide">Join</button>
                </p>
            </div>
            -->
        </div>
        <div class="col-md-6" id='map'>
            <div id="map-canvas"></div>
        </div>
    </div>
</div>
