<div id="splashScreen" class="container-fluid">
	<div class="form-signin">
		<div class="intro-header">
            <div class="row">
                <div class="col-lg-18">
                    <div class="intro-message">
                        <h1>RideShare</h1>
                        <hr>
                        <h3>
                            Online application that allows you to find other people in one area, going to the same destination area. 
                        </h3>
                        <br/><br/>
                        <span class="verticalCenter">
					      	<span id="signInButton"></span>
					    </span>
                    </div>
                </div>
            </div>
   		</div> 	
    </div>
</div>